<footer class="bg-secondary m-5 p-3">
    <div class="row text-center">
        <div class="col-12 col-lg-3">
            <a class="navbar-brand text-white" href="/">Coffee Guru</a>
        </div>
        <div class="col-12 d-grid d-md-flex justify-content-md-center col-lg-5">
            <a class="btn text-white" href="/">HOME</a>
            <a class="btn text-white" href="/about-us">ABOUT US</a>
            <a class="btn text-white" href="/create-your-plan">CREATE YOUR PLAN</a>
        </div>
        <div class="col-12 col-lg-4 justify-content-lg-end">
            <a class="btn text-white" href="#"><i class="fa-brands fa-instagram"></i></a>
            <a class="btn text-white" href="#"><i class="fa-brands fa-facebook"></i></a>
            <a class="btn text-white" href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
    </div>
</footer>