<% layout('layouts/boilerplate') %>
    <div class="container">
        <div class="card border-0 bg-dark">
            <img src="public/images/header3.jpg" class="card-img" alt="...">
            <div class="card-img-overlay d-flex justify-content-end align-items-center">
                <div class="col-md-6 text-center">
                    <h5 class="card-title">Create a plan</h5>
                    <p class="card-text py-md-3">Build a subscription plan that best fits your needs. We offer an
                        assortment of the best artisan coffees from around the globe delivered fresh to your door.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4 bg-secondary text-white m-3">
            <div class="col">
                <div class="card h-100 border-0 bg-transparent text-center text-md-start">
                    <i class="fa-solid fa-1 fa-4x"></i>
                    <div class="card-body">
                        <h5 class="card-title">Pick your coffee</h5>
                        <p class="card-text">Select from our evolving range of artisan coffees. Our beans are ethically
                            sourced and we pay fair prices for them. There are new coffees in all profiles every month
                            for you to try out.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 border-0 bg-transparent text-center text-md-start">
                    <i class="fa-solid fa-2 fa-4x"></i>
                    <div class="card-body">
                        <h5 class="card-title">Choose the frequency</h5>
                        <p class="card-text">Customize your order frequency, quantity, even your roast style and grind
                            type. Pause, skip or cancel your subscription with no commitment through our online portal.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 border-0 bg-transparent text-center text-md-start">
                    <i class="fa-solid fa-3 fa-4x"></i>
                    <div class="card-body">
                        <h5 class="card-title">Receive and enjoy!</h5>
                        <p class="card-text">We ship your package within 48 hours, freshly roasted. Sit back and enjoy
                            award-winning world-class coffees curated to provide a distinct tasting experience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="container">
            <h2 class="text-center">How do you drink your coffee?</h2>
            <div class="row row row-cols-1 row-cols-md-3">
                <div class="col">
                    <input type="radio" value="Capsule" class="btn-check" name="options-outlined" id="Capsule"
                        autocomplete="off">
                    <label class="btn btn-outline-success" for="Capsule">
                        <h5>Capsule</h5>
                        <p>Compatible with Nespresso systems and similar brewers</p>
                    </label>
                </div>
                <div class="col">
                    <input type="radio" value="Filter" class="btn-check" name="options-outlined" id="Filter"
                        autocomplete="off">
                    <label class="btn btn-outline-success" for="Filter">
                        <h5>Filter</h5>
                        <p>For pour over or drip methods like Aeropress, Chemex, and V60</p>
                    </label>
                </div>
                <div class="col">
                    <input type="radio" value="Espresso" class="btn-check" name="options-outlined" id="Espresso"
                        autocomplete="off">
                    <label class="btn btn-outline-success" for="Espresso">
                        <h5>Espresso</h5>
                        <p>Dense and finely ground beans for an intense, flavorful experience</p>
                    </label>
                </div>
            </div>
        </div>

        <div class="container">
            <h2 class="text-center">What type of coffee?</h2>
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col">
                    <input type="radio" value="Single Origin" class="btn-check" name="options-2-outlined" id="single"
                        autocomplete="off">
                    <label class="btn btn-outline-success" for="single">
                        <h5>Single Origin</h5>
                        <p>Distinct, high quality coffee from a specific family-owned farm</p>
                    </label>
                </div>
                <div class="col">
                    <input type="radio" value="Decaf" class="btn-check" name="options-2-outlined" id="decaf"
                        autocomplete="off">
                    <label class="btn btn-outline-success" for="decaf">
                        <h5>Decaf</h5>
                        <p>Just like regular coffee, expect the caffeine has been removed</p>
                    </label>
                </div>
                <div class="col">
                    <input type="radio" value="Blended" class="btn-check" name="options-2-outlined" id="blended"
                        autocomplete="off">
                    <label class="btn btn-outline-success" for="blended">
                        <h5>Blended</h5>
                        <p>Combination of two or three dark roasted beans of organic coffees</p>
                    </label>
                </div>
            </div>
        </div>

        <div class="contanier">
            <h2 class="text-center">How much would you like?</h2>
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col">
                    <input type="radio" value="250g" class="btn-check" name="options-3-outlined" id="250"
                        autocomplete="off">
                    <label class="btn btn-outline-success" for="250">
                        <h5>250g</h5>
                        <p>Perfect for the solo drinker. Yields about 12 delicious cups.</p>
                    </label>
                </div>
                <div class="col">
                    <input type="radio" value="500g" class="btn-check" name="options-3-outlined" id="500"
                        autocomplete="off">
                    <label class="btn btn-outline-success" for="500">
                        <h5>500g</h5>
                        <p>Perfect option for a couple. Yields about 40 delectable cups.</p>
                    </label>
                </div>
                <div class="col">
                    <input type="radio" value="1000g" class="btn-check" name="options-3-outlined" id="1000"
                        autocomplete="off">
                    <label class="btn btn-outline-success" for="1000">
                        <h5>1000g</h5>
                        <p>Perfect for offices and events. Yields about 90 delightful cups.</p>
                    </label>
                </div>
            </div>
        </div>

        <div class="contanier">
            <h2 class="text-center">Want us to grind them?</h2>
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col">
                    <input type="radio" value="Wholebean" class="btn-check" name="options-4-outlined" id="wholebean"
                        autocomplete="off">
                    <label class="btn btn-outline-success" for="wholebean">
                        <h5>Wholebean</h5>
                        <p>Best choice if you cherish the full sensory experience.</p>
                    </label>
                </div>
                <div class="col">
                    <input type="radio" value="Filter" class="btn-check" name="options-4-outlined" id="filter"
                        autocomplete="off">
                    <label class="btn btn-outline-success" for="filter">
                        <h5>Filter</h5>
                        <p>For drip or pour-over coffee methods such as V60 or Aeropress</p>
                    </label>
                </div>
                <div class="col">
                    <input type="radio" value="Cafetiére" class="btn-check" name="options-4-outlined" id="cafetiére"
                        autocomplete="off">
                    <label class="btn btn-outline-success" for="cafetiére">
                        <h5>Cafetiére</h5>
                        <p>Course ground beans specially suited for french press coffee</p>
                    </label>
                </div>
            </div>
        </div>

        <div class="contanier">
            <h2 class="text-center">How often should we deliver?</h2>
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col">
                    <input type="radio" value="Every week" class="btn-check" name="options-5-outlined" id="every"
                        autocomplete="off">
                    <label class="btn btn-outline-success" for="every">
                        <h5>Every week</h5>
                        <p>$14.00 per shipment. Includes free first-class shipping.</p>
                    </label>
                </div>
                <div class="col">
                    <input type="radio" value="Every 2 weeks" class="btn-check" name="options-5-outlined" id="every2"
                        autocomplete="off">
                    <label class="btn btn-outline-success" for="every2">
                        <h5>Every 2 weeks</h5>
                        <p>$17.25 per shipment. Includes free priority shipping.</p>
                    </label>
                </div>
                <div class="col">
                    <input type="radio" value="Every month" class="btn-check" name="options-5-outlined" id="month"
                        autocomplete="off">
                    <label class="btn btn-outline-success" for="month">
                        <h5>Every month</h5>
                        <p>$22.50 per shipment. Includes free priority shipping.</p>
                    </label>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-block">
            <button id="confirm" class="btn btn-success">Get your plan</button>
        </div>
    </div>

    <div class="container text-white" id="summary">
    </div>
